.liveClock {
    position: absolute;
    top: 20%;
    opacity: 0%;
    place-self: center;
    font-size: 1.6em;
    animation: fade-in 0.5s ease-in 7.2s forwards;
}

@keyframes fade-in {
    to {
        opacity: 100%;
    }

} 

