/* Main Content
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    height: 90vh;
}

@media only screen and (min-width: 1366px) {
    .content {
        flex-direction: row;
    }
}


/* Cutlery Main Image
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.cutlery {
    position: absolute;
    top: 51%;
    width: clamp(350px, 30vw, 525px);
    height: auto;
    z-index: 4;
    animation: slide-in-cutlery 1.7s ease 1.7s forwards;
}

@keyframes slide-in-cutlery {
    to {
        transform: translateY(-125%);     
    }
}

@media only screen and (min-width: 1366px) {
    .cutlery {
        top: auto;
        left: 59%;
    }

    @keyframes slide-in-cutlery {
        to {
            transform: translateX(-145%);
        }
    }
}


/* Text Block
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    margin-top: -30%;
    font-size: clamp(2rem, 2vw, 2rem);
    animation: slide-in-text 2s ease 3.4s forwards;
}

@keyframes slide-in-text {
    to {
        transform: translateY(45vh);
    }
}

@media only screen and (min-width: 400px) {
    @keyframes slide-in-text {
        to {
            transform: translateY(170%);
        }
    }
}

@media only screen and (min-width: 700px) {
    @keyframes slide-in-text {
        to {
            transform: translateY(200%);
        }
    }
}

@media only screen and (min-width: 1366px) {
    .rightContent {
        position: absolute;
        top: auto;
        left: 15%;
        margin-top: 0%;
    }

    @keyframes slide-in-text { 
        to {
            transform: translateX(122%);
        }
    }
}

@media only screen and (min-width: 1536px) {
    @keyframes slide-in-text { 
        to {
            transform: translateX(136%);
        }
    }
}

@media only screen and (min-width: 1366px) {
    .mobileBr {
        display: none;
    }
}

.line1 {
    font-size: 1em;
    font-weight: normal;
    animation: slide-up 1s ease 7s forwards;
}

@keyframes slide-up {
    100% {
        transform: translateY(-80%);
    }
}

.line2 {
    font-size: 1em;
    animation: slide-down 1s ease 7s forwards;
}

@keyframes slide-down {
    100% {
        transform: translateY(50%);
    }
}


@media only screen and (min-width: 1366px) {
    @keyframes slide-down {
        100% {
            transform: translateY(80%);
        }
    }
}

.highlight {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-size: inherit;
    overflow: hidden;
    vertical-align: middle;
}

.highlight::after {
    position: absolute;
    content: '';
    width: 100%;
        
    bottom: 25%;
    left: 0;
    height: 2px;

    transform: translate3d(-100%, 0, 0);
    background-color: var(--night-special-color);
    animation: run-highlight 0.8s ease-in 8.8s forwards;
}

@keyframes run-highlight {
    100% {
        transform: translate3d(0, 0, 0);
    }
}


/* Two Text Division Lines
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.textDivider {
    align-self: center;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 1px;
}

@media only screen and (min-width: 1366px) {
    .textDivider {
        width: 420px;
    }
}

.topTextDivider {
    animation: slide-up 1s ease 7s forwards;
}

@keyframes slide-up {
    100% {
        transform: translateY(-40px);
    }
}

.botTextDivider {
    animation: slide-down 1s ease 7s forwards;
}

@keyframes slide-down {
    100% {
        transform: translateY(35px);
    }
}


/* White Containers for CSS Animations
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.whiteContainer {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}

.firstWhite {
    background-color: var(--day-bg-color);
    position: absolute;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 50%;

    z-index: 3;
    animation: left-reduce-z 0.2s ease-in 3.4s forwards;
    
}

@keyframes left-reduce-z {
    to {
        z-index: 2;
    }
}

@media only screen and (min-width: 1366px) {
    .firstWhite {
        width: 50%;
        height: 100%;
    }
}

.secondWhite {
    background-color: var(--day-bg-color);
    position: absolute;
    
    top: calc(50% + 1px);
    left: 0%;
    width: 100%;
    height: calc(50% - 1px);
    
    z-index: 5;
    animation: right-reduce-z 0.2s linear 3.4s forwards;
}

@keyframes right-reduce-z {
    to {
        z-index: 0;
    }
}

@media only screen and (min-width: 1366px) {
    .secondWhite {
        /* 1px added to accomadate SVG width */
        top: 0%;
        left: calc(50% + 1px);
        width: calc(50% - 1px);
        height: 100%;
    }
}