/* Parent Container
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}


/* White Containers for CSS Animations
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.whiteContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 800px) {
    .whiteContainer {
        flex-direction: row;
    }
}

.firstWhite {
    width: 100%;
    height: 50%;
    background-color: var(--day-bg-color);
    z-index: 1;
}

@media only screen and (min-width: 800px) {
    .firstWhite {
        width: 50%;
        height: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .firstWhite {
        background-color: var(--night-bg-color);
    }
}

.secondWhite {
    width: 100%;
    height: 50%;
    background-color: var(--day-bg-color);
    z-index: 3;
    visibility: visible;
    animation: hide-white 0.2s linear 3.4s forwards;
}

@keyframes hide-white {
    to {
        visibility: hidden;
    }
}

@media only screen and (min-width: 800px) {
    .secondWhite {
        width: 50%;
        height: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .secondWhite {
        background-color: var(--night-bg-color);
    }
}


/* Content Container
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    .content {
        flex-direction: row-reverse;
        width: 1080px;
        overflow: visible;
    }
}


/* Left Content and Cutlery
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.leftContent {
    height: 50%;
    z-index: 2;
}

@media only screen and (min-width: 800px) {
    .leftContent {
        flex: 1;
        height: auto;
    }
}

.cutlery {
    width: auto;
    height: clamp(200px, 34vh, 320px);
    animation: slide-in-cutlery 1.7s ease 1.7s forwards;
}

@media only screen and (min-width: 800px) {
    .cutlery {
        width: clamp(365px, 30vw, 525px);
        height: auto;
    }
}

@keyframes slide-in-cutlery {
    to {
        transform: translateY(-110%);     
    }
}

@media only screen and (min-width: 800px) {
    @keyframes slide-in-cutlery {
        to {
            transform: translateX(-110%);
        }
    }
}


/* Main Divider
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.mainDivider {
    align-self: flex-start;
    width: 0%;
    height: 3px;
    
    background-color: rgba(0, 0, 0, 0.5);   
    z-index: 4;
    animation: draw-divider 0.8s ease-in 0.5s forwards;
}

@keyframes draw-divider {
    to {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .mainDivider {
        align-self: flex-start;
        width: 3px;
        height: 100%;
        max-height: 0%;
    }

    @keyframes draw-divider {
        to {
            max-height: 100%;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .mainDivider {
        background-color: rgba(255, 255, 255, 0.5);   
    }
}


/* Right Content and Text
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.rightContent {
    height: 50%;
    display: flex;
    flex-grow: 0;   
    flex-direction: column;
    padding: 3rem 0 2.7rem 0;

    z-index: 0;
    animation: slide-in-text 2s ease 3.4s forwards;
}

@media only screen and (min-width: 800px) {
    .rightContent {
        flex: 1;
        height: auto
    }
}

@keyframes slide-in-text {
    to {
        transform: translateY(110%);
    }
}

@media only screen and (min-width: 800px) {
    @keyframes slide-in-text { 
        to {
            transform: translateX(110%);
        }
    }
}

.topLine {
    width: min(98vw, 350px);
    font-weight: normal;
    font-size: clamp(1.6rem, 2vw, 2.1rem);
    border-bottom: 2px solid rgba(0, 0, 0, 0.70);
    animation: slide-up 1s ease 7s forwards;
}

@keyframes slide-up {
    100% {
        transform: translateY(-3rem);
    }
}

@media only screen and (min-width: 800px) {
    .topLine {
        width: min(42vw, 450px);
    }
}

@media (prefers-color-scheme: dark) {
    .topLine {
        border-top: 2px solid rgba(255, 255, 255, 0.70);
    }
}

.bottomLine {
    width: min(98vw, 350px);
    font-size: clamp(1.6rem, 2vw, 2.1rem);
    border-top: 2px solid rgba(0, 0, 0, 0.70);
    animation: slide-down 1s ease 7s forwards;
}

@keyframes slide-down {
    100% {
        transform: translateY(2.7rem);
    }
}

@media only screen and (min-width: 800px) {
    .bottomLine {
        width: min(42vw, 450px);
    }
}

@media (prefers-color-scheme: dark) {
    .bottomLine {
        border-top: 2px solid rgba(255, 255, 255, 0.70);
    }
}

@media only screen and (min-width: 800px) {
    .mobileBr {
        display: none;
    }
}


/* Animated Highlight
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.highlight {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-size: inherit;
    overflow: hidden;
    vertical-align: middle;
}

.highlight::after {
    position: absolute;
    content: '';
    width: 100%;
        
    bottom: 25%;
    left: 0;
    height: 2px;

    transform: translate3d(-100%, 0, 0);
    background-color: var(--night-special-color);
    animation: run-highlight 0.82s ease-in 8.9s forwards;
}

@keyframes run-highlight {
    100% {
        transform: translate3d(0, 0, 0);
    }
}


/* Live Clock Component
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.liveClock {
    position: absolute;
    font-size: clamp(2.8rem, 4.1vw, 3.5rem);
    font-variant-numeric: tabular-nums;
    opacity: 0;
    animation: fade-in 0.5s ease-in 8.3s forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}