/* Main SVG Line
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.mainDividerContainer {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100vw;
    z-index: 100; 
    overflow: hidden;
}

.mobileDivider {
    width: 0%;
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: draw-hr 0.8s ease-in 0.5s forwards;
}

@keyframes draw-hr {
    to {
        width: 100%;
    }
}

.deskDivider {
    display: none;
}

@media only screen and (min-width: 1366px) {
    .mainDividerContainer {
        top: 0%;
        left: 50%;
        height: 100vh;
        width: auto;
    }

    .mobileDivider {
        display: none;
    }

    .deskDivider {
        display: block;
        height: 100%;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: draw 2.2s ease-in 0.5s forwards;
    }   
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}


/* Two Text Division Lines
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.textDivider {
    align-self: center;
    overflow: visible;
    width: 200px;
    height: 18px;
}

@media only screen and (min-width: 1366px) {
    .textDivider {
        width: 300px;
        height: 21px;
    }
}

.topTextDivider {
    animation: slide-up 1s ease 7s forwards;
}

@keyframes slide-up {
    100% {
        transform: translateY(-180%);
    }
}

.botTextDivider {
    animation: slide-down 1s ease 7s forwards;
}

@keyframes slide-down {
    100% {
        transform: translateY(180%);
    }
}