:root {
  --day-bg-color: #faf9f6;
  --night-bg-color: #212121;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
  height: 100%;
  width: 100%;
  max-width: 100vw;
  background-color: var(--day-bg-color);
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html, 
  body {
    color: var(--day-bg-color);
    background-color: var(--night-bg-color);
  }
}

h1,
p {
  font-size: 1em;
  font-weight: normal;
}

em {
  font-size: inherit;
  font-style: normal;  
  text-decoration: underline rgba(0, 0, 0, 0.65) solid 1px;
  text-underline-offset: 3px;
}