:root {
  --day-bg-color: #faf9f6;
  --night-bg-color: #212121;
  --night-special-color: #84a8ee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Times New Roman', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--day-bg-color);
}

@media (prefers-color-scheme: dark) {
  html, 
  body {
    color: var(--day-bg-color);
    background-color: var(--night-bg-color);
  }
}

h1,
p {
  font-size: 1em;
  font-weight: normal;
}