/* Contact Title
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.title {
    line-height: 3rem;
    padding-left: 1rem; 
    text-indent: -1rem;
    font-weight: 500;
    margin-left: 3%;
}

@media only screen and (min-width: 1000px) {
    .title {
        line-height: 4rem;
        padding-left: 7.5rem; 
        text-indent: -7.5rem;
        margin-left: 17%;
    }
}

.different {
    position: relative;
    font-weight: 800;
    font-style: normal;
    color: var(--night-special-color);
}

.different::after {
    position: absolute;
    content: '';
    width: 100%;
    
    height: 4px;
    bottom: 1px;
    left: 0;
    
    transform: scaleX(0);
    background-color: var(--night-special-color);
    transform-origin: bottom right;
    transition: transform 1s ease-out;
}

@media only screen and (min-width: 1000px) {
    .different::after {
        height: 5px;
        bottom: 3px;
    }
}

.animateDifferent::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.logos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7%;
    margin: 10% 6% 0 0;
    padding-bottom: 2%;
}

@media only screen and (min-width: 1000px) {
    .logos {
        gap: 2.2%;
        margin: 0 11% 0 0;
    }
}

.linkedinText {
    font-weight: 500;
    font-size: clamp(2.4rem, 4vw, 3.5rem);

    margin-bottom: 7px;
    transition: color 0.3s;
}

.linkedinText:hover,
.linkedinText:focus {
    color: var(--night-special-color);
}

.githubWrapper {
    transition: transform 7s linear 0.5s;
    overflow: hidden;
}

.githubWrapper:hover,
.githubWrapper:focus {
    transform: none;
}

@media only screen and (min-width: 1000px) {
    .githubWrapper:hover,
    .githubWrapper:focus {
        transform: translateX(400px);
    }
}

.githubLogo {
    width: clamp(2.7rem, 4vw, 3.6rem);
    transition: transform 7.5s linear;
}

.githubLogo:hover,
.githubLogo:focus {
    transform: rotate(1080deg);
}