/* Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.logos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1%;
    margin-right: 8.5%;
    padding-bottom: 2%;
}

.linkedinText {
    font-size: 1em;
}

.githubLogo {
    width: 2em;
}
