/* Contact Title
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.title {
    line-height: 1.7em;
    margin-left: 3%;
    padding-left: 1em; 
    text-indent: -1em;
}

@media only screen and (min-width: 1366px) {
    .title {
        line-height: 1.7em;
        margin-left: 15%;
        padding-left: 2.5em; 
        text-indent: -2.5em;
    }
}

.different {
    position: relative;
    font-weight: 800;
    font-style: normal;
    color: var(--night-special-color);
}

.different::after {
    position: absolute;
    content: '';
    width: 100%;
    
    height: 3px;
    bottom: 0px;
    left: 0;
    
    transform: scaleX(0);
    background-color: var(--night-special-color);
    transform-origin: bottom right;
    transition: transform 1s ease-out;
}

@media only screen and (min-width: 1366px) {
    .different::after {
        height: 4px;
        bottom: 3px;
    }
}

.animateDifferent::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.logos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
    margin: 0 11% 0 0;
    padding-bottom: 2%;
}

.linkedinText {
    font-size: 1em;
    font-weight: 500;
    transition: all 0.3s;
    margin-bottom: 7px;
}

.linkedinText:hover,
.linkedinText:focus {
    color: var(--night-special-color);
}

.githubLogo {
    width: 1em; 
    transition: transform 2.5s linear;
}

@media only screen and (min-width: 1366px) {
    .githubLogo {
        width: 1.2em; 
    }
}

.githubLogo:hover,
.githubLogo:focus {
    transform: rotate(360deg);
}