/* Experience and SVG Art
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.expHeader {
    font-size: 4.5em;
    margin: 0 0 -9% 15%; 
    text-decoration: underline 3px var(--night-special-color);
    text-underline-offset: 3px;
    z-index: 1;
}

.art {
    display: flex;
    flex-direction: column;
}

.moon {
    width: 13%;
    height: 13%;
    margin-right: 10%;
    align-self: flex-end;
    z-index: 1;
}

.mountains {
    align-self: center;
    z-index: 1;
}


/* Initial Descriptions
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.flow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 15% 3% 10%;
    gap: 10%;
}

.title {
    text-align: center;
    width: 30%;
    align-self: start;
}

.desc {
    font-size: 1.3em;
    text-align: center;
    width: 70%;
    z-index: 2;
}

.pi {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 3% 10% 3% 10%;
    gap: 4%;
    transition: all 0.3s ease-in;
}

.piDown {
    transform: translateY(200px);   
}

.pi > .title {
    width: 40%;
}

.dt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 10% 10% 10%;
    gap: 5%;
    transition: all 0.3s ease-in;
}

.dtDown {
    transform: translateY(200px);
}


/* Horizontal Breaks
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.horizontalBreak {
    width: 80%;
    height: 10%;
    margin-left: 10%;
    transition: all 0.3s ease-in;
}

.expandBreak {
    transform: translateY(200px);
}


/* Expandable Descriptions
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.expander {
    color: var(--night-special-color);
    text-decoration: var(--night-special-color) 1px underline;
    text-underline-offset: 2px;
}

.addonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin: 25% 10% 5% 10%;
}

.openContainer {
    opacity: 0;
    animation: open-container 0.3s linear 0.4s forwards;
}

.closeContainer {
    max-height: 0;
    opacity: 0;
    animation: 
        close-container 0.2s linear forwards,
        close-height 0.2s linear 0.2s forwards;
}

.addonDesc {
    text-align: left;
    font-size: 1.2em;
    font-weight: normal;
}

@keyframes open-container {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes close-container {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes close-height {
    0% {
        height: 100%;
    }

    100% {
        height: 0;
    }
}


/* Rotating SVG Motif
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.motif {
    width: 240px;
}

.selectedMotif {
    animation: rotation 10s infinite linear;
}
   
@media (prefers-reduced-motion) {
    .selectedMotif {
        width: 40%;
        height: 40%;
        animation: none;
    }
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}