/* Contact Grid
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.formGrid {
    display: grid;
    height: 400px;
    grid: 0.15fr 0.15fr 0.60fr 0.10fr / 
          80% 20%;
    grid-template-areas: 
      "name   ."
      "email  ."
      "message message"
      ". button";
    
    margin: 10% 0 0 6%;
    row-gap: 3%;
    justify-content: start;
}

@media only screen and (min-width: 1366px) {
    .formGrid {
        height: 450px;
        grid: 0.15fr 0.7fr 0.15fr / 
              23% 23%;
        grid-template-areas: 
            "name email"
            "message message"
            ". button";
        row-gap: none;
        column-gap: 3%;
        row-gap: 3%;
        margin: 4% 0 0 0%;
        justify-content: center;
    }
}
  
.nameArea {
    grid-area: name;
    padding: 0 5% 0 0;
}

@media only screen and (min-width: 1366px) {
    .nameArea {
        margin: 0%;
    }
}

.emailArea {
    grid-area: email;
    padding: 0 5% 0 0;
}

.messageArea {
    grid-area: message;
    margin-top: 3%;
}

.buttonArea {
    grid-area: button;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    place-self: start end;
    margin-top: 2%;
}


/* Input Fields
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.nameInput {
    width: 100%;
    height: 100%;
    padding: 1% 2% 1% 4%;
    border: 1px solid var(--day-bg-color);
}
  
.nameInput::placeholder {
    color: #faf9f680;
}

.nameInput:focus,
.nameInput:active {
    border: 2px solid var(--night-special-color);
    border-radius: 4px;
}

.emailInput {
    width: 100%;
    height: 100%;
    padding: 1% 2% 1% 4%;
    border: 1px solid var(--day-bg-color);
}

.emailInput::placeholder {
    color: #faf9f680;
}

.emailInput:focus,
.emailInput:active {
    border: 2px solid var(--night-special-color);
    border-radius: 4px;
}

.messageInput {
    padding: 2% 2% 2% 2%;
    font-size: clamp(1rem, 2vw, 1.2rem);
    width: 90%;
    height: 100%;
    border: 1px solid var(--day-bg-color);
}

@media only screen and (min-width: 1366px) {
    .messageInput {
        width: 100%;
    }
}

.messageInput::placeholder {
    color: #faf9f680;
}

.messageInput:focus,
.messageInput:active {
    border: 2px solid var(--night-special-color);
    border-radius: 4px;
}


/* Submit Button
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.submitButton {
    transition: all 0.3s;
    margin-left: -11%;
}

@media only screen and (min-width: 1366px) {
    .submitButton {
        margin-left: 27%;
    }
}

.submitButton p {
    font-weight: 500;
}

.sendLine {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    margin-top: -20%;
    margin-left: -20%;
}

.submitButton:hover .sendLine,
.submitButton:focus .sendLine {
    animation: draw 1.2s ease-in forwards;
}

.submitButton:hover,
.submitButton:focus {
    color: var(--night-special-color);
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.submittedButton {
    color: var(--night-special-color);
    text-decoration: var(--night-special-color) 1px underline;
    text-underline-offset: 1px;
}


/* Submit Message
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.submitMessage {
    margin: -8% 0 6% 6%;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--night-special-color);
    transition: opacity 0.7s ease-in;
}

@media only screen and (min-width: 1366px) {
    .submitMessage {
        margin: 0 0 1% 25.5%;
    }
}

.showSubmitMessage {
    opacity: 1;
}

.hideSubmitMessage {
    opacity: 0;
}

@media only screen and (min-width: 1366px) {
    .mobileBr {
        display: none;
    }
}