/* Transition Line Draw-In
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.animations {
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(to bottom, var(--night-bg-color) 50%, var(--day-bg-color) 50%);
    background-position: bottom;
    background-size: 100% 200%;

    z-index: 52; /* Nav Menu at z-index 51 */
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    .animations {
        background-image: linear-gradient(to bottom, var(--night-bg-color) 50%, var(--dark-scheme-color) 50%);
    }
}

.animateContainer {
    visibility: visible;
    animation: 
        draw-down-bg 0.22s forwards 0.58s,
        pull-up-bg 0.11s forwards 0.97s,
        draw-down-bg 0.11s forwards 1.27s,
        remove-bg 0s forwards 1.5s; /* Remove container to reveal header */
}

@media (prefers-reduced-motion) {
    .animateContainer {
        animation: 
            draw-down-bg 0.22s forwards 0.58s,
            remove-bg 0s forwards 0.95s;
    }
}

@keyframes draw-down-bg {
    to {
        background-position: top;
    }
}

@keyframes pull-up-bg {
    to {
        background-position: bottom;
    }
}

@keyframes remove-bg { 
    to {
        visibility: hidden;
    }
}

.transLine {
    height: 100vh;
    width: auto;
    margin-left: 5%;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

@media only screen and (min-width: 1000px) {
    .transLine {
        margin-left: var(--trans-line-pos);
    }
}

@media (prefers-color-scheme: dark) {
    .transLine > path {
        stroke: var(--day-bg-color);
    }
}

.animateLine {
    animation: draw 0.6s ease-in forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}


/* Header
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hookContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: var(--day-bg-color);
    transition: background-color 0.1s ease 0.5s;
}

@media (prefers-color-scheme: dark) {
    .hookContainer {
        background-color: var(--dark-scheme-color);
    }
}

.showHookContainer {
    background-color: var(--night-bg-color);
}

.hook {
    opacity: 0;
    margin: 0 0 10% 10%;
    line-height: 1.5em;
    word-spacing: 3px;
    transition: opacity 0.25s ease-in 1.5s;
}

@media (prefers-reduced-motion) {
    .hook{
        transition: opacity 0.25s ease-in 0.95s;
    }
}

@media only screen and (min-width: 500px) {
    .hook { 
        margin: 0 0 5% 5%;
    }
}

.showHook {
    opacity: 1;
}

.hookHighlight {
    color: var(--night-special-color);
    font-style: normal;
    font-weight: 800;

    text-decoration: var(--night-special-color) 6px underline;
    text-underline-offset: 2px;
}

@media only screen and (min-width: 1000px) {
    .hookHighlight {
        text-decoration: var(--night-special-color) 8px underline;
        text-underline-offset: 6px;
        margin-left: 10px;
    }
}


/* Responsive Breaks
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.tabletBr {
    display: none;
}

.deskBr {
    display: none;
}

@media only screen and (min-width: 500px) {
    .mobileBr {
        display: none;
    }

    .tabletBr {
        display: inline;
    }

    .deskBr {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .mobileBr {
        display: none;
    }

    .tabletBr {
        display: none;
    }

    .deskBr {
        display: inline;
    }
}