/* Float Popup
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hiddenFloat {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.visibleFloat {
    position: fixed;
    top: 0%;
    left: 0%;
    
    width: 100%;
    height: 100%;
    z-index: 100;
    visibility: visible;
    animation: make-invisible 0.1s linear 1.6s forwards;
}

@media (prefers-reduced-motion) {
    .visibleFloat {
        animation: make-invisible 0.1s linear 0.8s forwards;
    }
}

@keyframes make-invisible {
    from {
        opacity: 100%;
        visibility: visible;
    }

    to {
        opacity: 0%;
        visibility: hidden;
    }
}

.bgChange1 {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(to bottom, var(--night-bg-color) 50%, var(--day-bg-color) 50%);
    background-size: 100% 200%;
    transition: background-position 0.4s ease-in 0.4s;
    z-index: 3;
}

.bgChange2 {
    position: relative;
    top: -100%;
    left: 0%;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(to top, var(--night-bg-color) 50%, var(--day-bg-color) 50%);
    background-size: 100% 200%;
    transition: background-position 0.15s ease-in 1.1s;
}

.bg2Visible {
    animation: bg2-z-index 0.1s linear 1s forwards;
}

@keyframes bg2-z-index {
    to {
        z-index: 4;
    }
}

@media (prefers-reduced-motion) {
    .bgChange2 {
        opacity: 0;
    }
}

.bgChange3 {
    position: relative;
    top: -200%;
    left: 0%;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(to bottom, var(--night-bg-color) 50%, var(--day-bg-color) 50%);
    background-size: 100% 200%;
    transition: background-position 0.15s ease-in 1.4s;
}

.bg3Visible {
    animation: bg3-z-index 0.1s linear 1.3s forwards;
}

@keyframes bg3-z-index {
    to {
        z-index: 5;
    }
}

@media (prefers-reduced-motion) {
    .bgChange3 {
        opacity: 0;
    }
}

/* Transition Line
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.verticalContainer {
    position: relative;
    top: 0%;
    left: 50%;
}

.transitionLine {
    height: 100vh;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.animateLine {
    animation: draw 0.8s ease-in forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}


/* Hook
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hookContainer {
    position: relative;
    height: 130vh;
    width: 100%;
}

.showContainer {
    background-color: var(--night-bg-color);
}

.hideContainer {
    background-color: var(--day-bg-color);
}

.hook {
    position: absolute;
    top: 20%;
    font-weight: 400;
    font-size: 6em;

    margin-left: 7%;
    line-height: 1.5em;
    word-spacing: 3px;
    transition: opacity 0.4s ease-in 1.6s;
}

.hookHidden {
    opacity: 0;
}

.hookKey {
    color: var(--night-special-color);
    font-style: normal;
    font-weight: 800;

    text-decoration: var(--night-special-color) 8px underline;
    text-underline-offset: 6px;
    margin-left: 10px;
}