/* Main Content
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hookContainer {
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--night-bg-color) 50%, var(--day-bg-color) 50%);
    background-size: 100% 200%;
    transition: background-position 1s ease-in 1s;
}

.verticalContainer {
    position: relative;
    top: 0%;
    left: 50%;
}

.verticalBreak {
    height: 1000px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.verticalBreak > path {
    stroke: var(--night-bg-color);
}

.animateBreak {
    animation: draw 2s ease-in forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.hook {
    margin: 10% 0 20% 10%;
    line-height: 1.7em;
    word-spacing: 3px;
    padding-left: 3.4em; /* Adds text indent for second line*/
    text-indent: -3.4em;
    transition: opacity 0.1s linear 0.7s;
}

.hookHidden {
    opacity: 0;
}

.expHeader {
    margin: 0 0 -7% 13%;
    text-decoration: underline 2px var(--night-special-color);
    text-underline-offset: 2px;
}

.art {
    display: flex;
    flex-direction: column;
}

.moon {
    width: 13%;
    height: 13%;
    margin-right: 10%;
    align-self: flex-end;
}

.mountains {
    align-self: center;
}