/* More Title
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.titleContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 3% 10%;
}

.titleUnderline {
    width: 20%;
    border: none;
    height: 3px;
    background-color: var(--night-special-color);
    margin-top: -10px;
}


/* More Section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.moreLayout {
    display: grid;
    grid: 30% 1% 1% 68%/ 
        32% 32% 32% 4%;
    grid-template-areas:
        "buttons buttons buttons vline"
        "hrDesc  hrDesc  hrDesc  vline"
        "fullHr  fullHr  fullHr  vline"
        "desc    desc    desc    vline";
    margin: 0% 0% 0% 21%;
    width: 60%;
}

.buttons {
    grid-area: buttons;
    font-size: 1.9em;
    font-weight: 500;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.buttons button:hover,
.buttons button:focus {
    color: var(--night-special-color);
}

.button {
    transition: all 0.4s;
}

.activeButton {
    color: var(--night-special-color);
    transition: 0.4s;
}


/* Lines
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hrDesc {
    grid-area: hrDesc;
    width: 22%;
    border: none;
    height: 3px;
    margin: -5% 0 0 12%;

    background-color: var(--night-special-color);
    transition: all 0.8s;
}

.hrDesc1 {
    transform: translateX(240px);
}

.hrDesc2 {
    transform: translateX(480px);
}

.fullHr {
    grid-area: fullHr;
    background-color: var(--day-bg-color);
    
    border: none;
    height: 2px;
    width: 90%;
    margin: -3% 0 0 5%;
}

.verticalBreak {
    grid-area: vline;
    width: 3px;
}

.contactBreak {
    border: 0;
    height: 2px;
    width: 75%;

    background-color: var(--day-bg-color);
    margin: 0 0 5% 12.5%;
}


/* Descriptions
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.descContainer {
    grid-area: desc;
    font-size: 1.3em;
}

.desc {
    opacity: 0;
    position: absolute;
    width: 50%;
    left: 24%;
    margin-top: 0.5%;
}

.descHide {
    animation: hide-desc 0.8s ease forwards;
}

.descShow {
    animation: show-desc 0.8s ease 0.7s forwards;
}

@keyframes show-desc {
    from {
      transform: translateX(-40%);
      opacity: 0;
    }

    to {
      transform: translateX(5%);
      opacity: 1;
    }
}

@keyframes hide-desc {
    from {
      transform: translateX(5%);
      opacity: 1;
    }

    to {
      transform: translateX(-40%);
      opacity: 0;
    }
}


/* Other Practicals
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.practicals {
    margin: 5% 15% 6% 15%;
}

.pracicalsList {
    margin: 3% 0 0 10%;
    font-size: 1.5em;
    list-style-type: circle;
    column-count: 2;
    column-gap: 40%;
}

.current {
    margin: 0% 11% 7% 15%;
}

.about {
    margin: 3% 5% 0 8%;
    font-size: 1.4em;
}

.goals {
    margin: 2% 5% 0 14%;
    list-style-type: circle;
    font-size: 1.4em;
}

.goals li {
    line-height: 35px;
}