/* More Title
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.titleContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 0% 10%;
}

.titleUnderline {
    width: 20%;
    border: none;
    height: 3px;
    background-color: var(--night-special-color);
    margin-top: -10px;
}


/* More Section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.buttons {
    margin: 4% 0 1% 0;
    font-size: 1.9em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.buttons button:hover {
    color: var(--night-special-color);
}

.buttons button:focus {
    color: var(--night-special-color);
}

.button {
    transition: all 0.4s;
}

.activeButton {
    color: var(--night-special-color);
    transition: 0.4s;
}


/* Horizontal Lines
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hrDesc {
    width: 12%;
    margin-top: 1%;
    margin-left: 25%;
    border: none;
    height: 2px;
    background-color: var(--night-special-color);
    transition: all 0.8s;
}

/* There has to be some animation here */
/* Let's see uniform translation times */

.hr1 {
    transform: translateX(290px);
    width: 13%;
}

.hr2 {
    transform: translateX(600px);
    width: 10%;
}


.contactBreak {
    width: 75%;
    height: 10%;
    margin: 0 0 5% 12.5%;
}


/* Descriptions
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.descContainer {
    margin-bottom: 18%;
    font-size: 1.3em;
}

.desc {
    opacity: 0;
    position: absolute;
    width: 50%;
    left: 24%;
    margin-top: 2%;
}

.descShow {
    animation: showDesc 0.8s ease 0.7s forwards !important;
}

.descHide {
    animation: hideDesc 0.8s ease forwards;
}

@keyframes showDesc {
    from {
      transform: translateX(-40%);
      opacity: 0;
    }

    to {
      transform: translateX(5%);
      opacity: 1;
    }
}

@keyframes hideDesc {
    from {
      transform: translateX(5%);
      opacity: 1;
    }

    to {
      transform: translateX(-40%);
      opacity: 0;
    }
}


/* Other Practicals
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.practicals {
    margin: 25% 15% 10% 15%;
}

.pracicalsList {
    margin: 3% 0 0 10%;
    font-size: 1.5em;
    list-style-type: circle;
    column-count: 2;
    column-gap: 40%;
}

.focus {
    margin: 5% 15% 7% 15%;
}

.about {
    margin: 3% 5% 0 8%;
    font-size: 1.4em;
}

.goals {
    margin: 2% 5% 0 14%;
    list-style-type: circle;
    font-size: 1.4em;
}

.goals li {
    line-height: 35px;
}