/* More Section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.title {
    color: var(--night-special-color);
    text-decoration: 2px underline;
    text-underline-offset: 4px;
    text-align: center;
    font-size: 2.5em; 
}

.buttons {
    margin: 4% 0 1% 0;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.buttons button:hover {
    color: var(--night-special-color);
}

.buttons button:focus {
    color: var(--night-special-color);
}

.button {
    transition: all 0.4s;
}

.activeButton {
    color: var(--night-special-color);
    text-decoration: var(--night-special-color) 1px underline;
    text-underline-offset: 4px;
    transition: 0.4s;
}

/* Horizontal Lines
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.horizontalBreak1 {
    width: 70%;
    height: 10%;
    margin-left: 15%;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0; 
}

.horizontalBreak2 {
    width: 75%;
    height: 10%;
    margin: 0 0 7% 13%;
}


/* Descriptions
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.descContainer {
    margin-bottom: 18%;
    font-size: 1.4em;
}

.desc {
    opacity: 0;
    position: absolute;
    width: 50%;
    left: 25%;
    margin-top: 2%;
}

.descShow {
    animation: showDesc 0.8s ease 0.9s forwards !important;
}

.descHide {
    animation: hideDesc 0.65s ease forwards;
}

@keyframes showDesc {
    from {
      transform: translateX(-40%);
      opacity: 0;
    }

    to {
      transform: translateX(5%);
      opacity: 1;
    }
}

@keyframes hideDesc {
    from {
      transform: translateX(5%);
      opacity: 1;
    }

    to {
      transform: translateX(40%);
      opacity: 0;
    }
}


/* Other Practicals
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.practicals {
    margin: 25% 15% 10% 15%;
}

.pracicalsList {
    margin: 3% 0 0 10%;
    font-size: 1.6em;
    list-style-type: circle;
    column-count: 2;
    column-gap: 40%;
}

.focus {
    margin: 5% 15% 7% 15%;
}

.about {
    margin: 3% 5% 0 8%;
    font-size: 1.6em;
}

.goals {
    margin: 3% 5% 0 14%;
    list-style-type: circle;
    font-size: 1.6em;
}

.goals li {
    line-height: 40px;
}