/* Hamburger Icon
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hamburger {
    position: fixed;
    top: 3%;
    right: 10%;

    display: block;
    height: 50px;
    width: 35px;
    transition: transform 0.4s ease;
    z-index: 100;
}

@media only screen and (min-width: 1000px) {
    .hamburger {
        top: 5%;
        right: 6%;
        height: 60px;
        width: 42px;
    }
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--day-bg-color);
    margin: 9px 0 9px 0;
    transition: transform 0.4s;
}

@media only screen and (min-width: 1000px) {
    .hamburger .bar, .hamburger::after, .hamburger::before {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.hamburger:hover .bar,
.hamburger:focus .bar {
    opacity: 0%;
}

.hamburger:hover::before,
.hamburger:focus::before {
    transform: translateY(10px);
}

@media only screen and (min-width: 1000px) {
    .hamburger:hover::before,
    .hamburger:focus::before {
        transform: translateY(14px);
    }
}

.hamburger:hover::after,
.hamburger:focus::after {
    transform: translateY(-10px) rotate(90deg); 
}

.hamburgerOpen {
    opacity: 0%;
}


/* Navigtion Menu
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    
    width: 220px;
    height: 80%;

    background-color: #212121CC;
    z-index: 50;

    display: grid;
    grid: 10% 90% /
          5% 64% 21%;
    grid-template-areas:
        "vline  .  cross"
        "vline nav   nav";
    transition: transform 0.8s ease;
}

@media only screen and (min-width: 500px) {
    .menu {
        width: 300px;
    }
}

@media only screen and (min-width: 1000px) {
    .menu {
        width: 360px;
    }
}


.menuOpen {
    transform: none;
}


/* Menu Divs
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.vertical {
    grid-area: vline;
    background-color: var(--day-bg-color);
    width: 2px;
    height: 90%;
    margin-top: 15px;
    backface-visibility: hidden;
}

@media only screen and (min-width: 1000px) {
    .vertical {
        margin-top: 25px;
    }
}

.crossBtn {
    grid-area: cross;
    margin-top: 30%;
}

.crossBtn:hover .cross,
.crossBtn:focus .cross {
    stroke: var(--night-special-color);
}

.cross {
    width: 30px;
    height: auto;   
    transition: stroke 0.4s;
}

@media only screen and (min-width: 1000px) {
    .cross {
        width: 40px;
    }
}


/* Navigation
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.nav {
    grid-area: nav;
    width: 100%;
}

.linkList {
    height: 100%;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    list-style-type: none;
    font-size: clamp(1.4rem, 2vw, 5rem);
    font-weight: 500;
}

.linkList li {
    height: 20%;
    margin: 7% 0 5% 0;
}

.linkList > li:nth-child(1) {
    margin-top: -6%;
}

.navLink:hover,
.navLink:focus {
    color: var(--night-special-color);
    transition: color 0.4s;
}

.underline {
    transition: border 0.4s;
    border-bottom: solid 2px var(--day-bg-color);
}

.highlighted {
    border-color: var(--night-special-color);
}


/* Invisible Background
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.invisibleBgClosed {
    visibility: hidden;
}

.invisibleBgOpen {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    z-index: 49;

    visibility: visible;
    opacity: 0;
}