/* Navigation Menu
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.navBars {
  text-align: right;
}

.navMenu {
  display: none;
}

.navMenu[data-toggle=true] {
  display: visible;
}