/* Main Content
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.hookContainer {
    display: flex;
    align-items: center;
    height: 100vh;
}

.hookLine {
    margin:0 0 10% 5%;
    
    /* Add text indent for second line*/
    padding-left: 2.5em; 
    text-indent: -2.5em;
}

.underline {
    color: var(--night-special-color);
    text-decoration: var(--night-special-color) 3px underline;
    text-underline-offset: 3px;
}

/* About Section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.about {
    height: 100vh;
}

/* Work Section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.work {
    height: 100vh;
}

/* Project Section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.project {
    height: 100vh;
}

.flowDescription {
    display: flow;
    flex-direction: column;
    align-items : center;
    text-align: center;
    width: 50%;
}

/* Contact Section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.contact {
    height: 100vh;
}

/* Footer
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.logos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.githubLogo {
    width: 3em;
}

