.scrollSection {
    height: 300vw;
    text-align: center;
    background-color: var(--day-bg-color);
    color: var(--night-bg-color);
}

.scrollLineContainer {
    position: relative;
    left: 5%;
    z-index: 100;
}

.scrollLine {
    height: 100%;
    width: 100vw;
}


.h1 {
    font-size: 5em;
    text-align: center;
    color: var(--day-bg-color);
}

.main {
    height: 1000px;
}


