/* SVG Scroll Draw and BG Transition
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.scrollText {
    position: absolute;
    top: 5%;
    right: 20%;
    color: var(--night-bg-color);

    opacity: 1;
    font-size: 1em;
    animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateY(0%);
    }

    to {
        opacity: 100%;
        transform: translateY(10%);
    }
}

.scrollText p {
    font-size: 2.1em;
}

.scrollLineContainer {
    margin-left: 5%;
}

.scrollLine {
    height: 100%;
}