/* SVG Scroll Draw and BG Transition
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.scrollText {
    position: absolute;
    top: 8%;
    right: 20%;
    color: var(--night-bg-color);

    opacity: 1;
    font-size: 0.6em;
    animation: fade-in 0.7s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateY(0%);
    }

    to {
        opacity: 100%;
        transform: translateY(10%);
    }
}

.scrollText p {
    font-size: 4em;
    text-align: center;
}

.scrollLineContainer {
    margin-left: 5%;
    opacity: 0;
    animation: line-in 0.7s ease-in forwards;
}

@keyframes line-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.scrollLine {
    height: 100%;
}