/* Skills Title
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.titleContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 5% 10%;
}

.titleLine {
    border: none;
    height: 2px;
    background-color: var(--night-special-color);
    margin-top: -5px;
    
    width: 0%;
    transition: width 1s ease;
}

@media only screen and (min-width: 1366px) {
    .titleLine {
        height: 3px;
        margin-top: -10px;
    }
}

.animateTitleLine {
    width: 40%;
}

@media only screen and (min-width: 500px) {
    .animateTitleLine {
        width: 10%;
    }
}

@media only screen and (min-width: 1366px) {
    .animateTitleLine {
        width: 20%;
    }
}


/* Skills Container
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.skillsContainer {
    display: grid;
    grid: 1fr 1fr 1fr 1fr / 
          47% 6% 47%;
    grid-template-areas: 
        "front vline1   . "
        "front vline1 data"
        "back  vline2 data"
        "back  vline2   . ";
    margin: 0% 8% 5% 8%;
}

@media only screen and (min-width: 1366px) {
    .skillsContainer {
        display: grid;
        grid: 1fr 1fr 1fr 1fr 1fr / 
            32% 2% 32% 2% 32%;
        grid-template-areas: 
            "front   .      .    .      ."
            "front vline1 data   .      ."
            "front vline1 data vline2 back"
            ".     vline1 data vline2 back"
            ".       .      .  vline2 back";
    }
}

.libTitle {
    font-size: clamp(1rem, 2vw, 2.2rem);
    margin-top: 1%;
    color: var(--day-bg-color);
    text-decoration: 1px underline var(--day-bg-color);
    text-underline-offset: 2px;
}

.libTitleExtend {
    display: none;
}

@media only screen and (min-width: 1366px) {
    .libTitle {
        text-decoration: 2px underline var(--day-bg-color);
        text-underline-offset: 3px;
    }
    
    .libTitleExtend {
        display: inline-block;
        text-decoration: inherit;
        text-underline-offset: inherit;
    }
}


.front > h3,
.data > h3, 
.back > h3 {
    line-height: 1.75em;
}

.front > p,
.data > p,
.back > p {
    line-height: 3.5em;
    font-size: clamp(0.9rem, 3vw, 1.7rem);  
}

.data > *,
.front > *,
.back > * {
    opacity: 0;
    transform: translateY(-40%);
    transition: all 1s ease-in;
}


/* Front Column
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.front {
    grid-area: front;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.front > h3:nth-child(1) { transition-delay: 0.2s; }
.front > p:nth-child(2) { transition-delay: 0.4s; }
.front > p:nth-child(3) { transition-delay: 0.6s; }
.front > p:nth-child(4) { transition-delay: 0.8s; }
.front > h3:nth-child(5) { transition-delay: 1.0s; }
.front > p:nth-child(6) { transition-delay: 1.2s; }
.front > p:nth-child(7) { transition-delay: 1.4s; }
.front > p:nth-child(8) { transition-delay: 1.6s; }


/* Data Column
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.data {
    grid-area: data;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.data > h3:nth-child(1) { transition-delay: 0.2s; }
.data > p:nth-child(2) { transition-delay: 0.4s; }
.data > p:nth-child(3) { transition-delay: 0.6s; }
.data > p:nth-child(4) { transition-delay: 0.8s; }
.data > p:nth-child(5) { transition-delay: 1.0s; }
.data > h3:nth-child(6) { transition-delay: 1.2s; }
.data > p:nth-child(7) { transition-delay: 1.4s; }
.data > p:nth-child(8) { transition-delay: 1.6s; }
.data > p:nth-child(9) { transition-delay: 1.8s; }


/* Dev Column
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.back {
    grid-area: back;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.back > h3:nth-child(1) { transition-delay: 0.2s; }
.back > p:nth-child(2) { transition-delay: 0.4s; }
.back > p:nth-child(3) { transition-delay: 0.6s; }
.back > h3:nth-child(4) { transition-delay: 0.8s; }
.back > p:nth-child(5) { transition-delay: 1.0s; }
.back > p:nth-child(6) { transition-delay: 1.2s; }
.back > p:nth-child(7) { transition-delay: 1.4s; }


/* Vertical Line Breaks
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.vline {
    background-color: var(--day-bg-color);
    height: 80%;
    max-height: 0;
    width: 2px;
}

.firstVline {
    grid-area: vline1;
    margin-top: 30px;
}

.secondVline {
    grid-area: vline2;
}

.showVline {
  animation: draw 2.2s ease-in 0.5s forwards;
}

@keyframes draw {
    to {
        max-height: 100%;
    }
}

@media only screen and (min-width: 1366px) {
    .vline1 {
        margin-left: 20px;
    }

    .vline2 {
        margin-left: 30px;
    }
}


/* Show Animation
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.showSkills {
  opacity: 1;
  transform: translateY(0%);
}