/* Skills Title
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.titleContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 5% 10%;
}

.titleUnderline {
    width: 20%;
    border: none;
    height: 3px;
    background-color: var(--night-special-color);
    margin-top: -10px;
}


/* Skills Container
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.skillsContainer {
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr / 
          32% 2% 32% 2% 32%;
    grid-template-areas: 
      "front   .      .    .      ."
      "front vline1 data   .      ."
      "front vline1 data vline2 back"
      ".     vline1 data vline2 back"
      ".       .      .  vline2 back";
    margin: 0% 8% 5% 8%;
}

.libTitle {
    font-size: 2.2em;
    margin-top: 1%;
    color: var(--day-bg-color);
    text-decoration: 2px underline var(--day-bg-color);
    text-underline-offset: 3px;
}

.front > h3,
.data > h3, 
.back > h3 {
    line-height: 1.75em;
}

.front > p,
.data > p,
.back > p {
    line-height: 3.5em;
    font-size: 1.7em;  
}


/* Front Column
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.front {
    grid-area: front;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.front > * {
    opacity: 0;
    transform: translateY(-40%);
    transition: all 1s ease-in;
}

.front > h3:nth-child(1) { transition-delay: 0.2s; }
.front > p:nth-child(2) { transition-delay: 0.4s; }
.front > p:nth-child(3) { transition-delay: 0.6s; }
.front > p:nth-child(4) { transition-delay: 0.8s; }
.front > h3:nth-child(5) { transition-delay: 1.0s; }
.front > p:nth-child(6) { transition-delay: 1.2s; }
.front > p:nth-child(7) { transition-delay: 1.4s; }
.front > p:nth-child(8) { transition-delay: 1.6s; }


/* Data Column
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.data {
    grid-area: data;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.data > * {
    opacity: 0;
    transform: translateY(40%);
    transition: all 1s ease-in;
}

/* Animations are from 9th child to 1st child, floating upwards */
.data > p:nth-child(9) { transition-delay: 0.2s; }
.data > p:nth-child(8) { transition-delay: 0.4s; }
.data > p:nth-child(7) { transition-delay: 0.6s; }
.data > h3:nth-child(6) { transition-delay: 0.8s; }
.data > p:nth-child(5) { transition-delay: 1.0s; }
.data > p:nth-child(4) { transition-delay: 1.2s; }
.data > p:nth-child(3) { transition-delay: 1.4s; }
.data > p:nth-child(2) { transition-delay: 1.6s; }
.data > h3:nth-child(1) { transition-delay: 1.8s; }


/* Dev Column
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.back {
    grid-area: back;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.back > * {
  opacity: 0;
  transform: translateY(-40%);
  transition: all 1s ease-in;
}

.back > h3:nth-child(1) { transition-delay: 0.2s; }
.back > p:nth-child(2) { transition-delay: 0.4s; }
.back > p:nth-child(3) { transition-delay: 0.6s; }
.back > h3:nth-child(4) { transition-delay: 0.8s; }
.back > p:nth-child(5) { transition-delay: 1.0s; }
.back > p:nth-child(6) { transition-delay: 1.2s; }
.back > p:nth-child(7) { transition-delay: 1.4s; }


/* Vertical Line Breaks
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.vline1 {
    grid-area: vline1;
    height: 75%;
    width: 4%;
    margin-left: 30%;

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.vline1Show {
  animation: draw 2.2s ease-in 0.5s forwards;
}

.vline2 {
    grid-area: vline2;
    height: 75%;
    width: 4%;
    margin-left: 70%;

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.vline2Show {
  animation: draw 2.2s ease-in 0.5s forwards;
}

@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}


/* Show Animation
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.showSkills {
  opacity: 1;
  transform: translateY(0%);
}